<div>
<app-navbar-demo></app-navbar-demo>

<div class="container padding1">
  <form [formGroup]="statementForm" (ngSubmit)="onFormSubmit()" class="form-inline">

          <mat-form-field>
            <mat-label>Select Account Number</mat-label>
              <mat-select formControlName="accountControl"
                          [class.is-invalid]="statementForm.get('accountControl').invalid||statementForm.get('accountControl').untouched">
                <mat-option *ngFor="let acnt of accountNumbers" [value]="acnt.value"  >{{acnt.viewValue}}</mat-option>
              </mat-select>
            <mat-error *ngIf="statementForm.get('accountControl').invalid">
              Choose an account Number
            </mat-error>
          </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;

          <mat-form-field >
            <mat-label>Select Period</mat-label>
            <mat-select formControlName="periodControl"
            [class.is-invalid]="statementForm.get('periodControl').invalid||statementForm.get('periodControl').untouched">
              <mat-option value="tenTransaction">Last 10 Transaction</mat-option>
              <mat-option value="allTransaction">All Transaction</mat-option>
            </mat-select>
            <mat-error *ngIf="statementForm.get('periodControl').invalid">
              Choose Period
            </mat-error>
          </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
         <button mat-raised-button color="primary" [disabled]="statementForm.invalid">SUBMIT</button>
      </form>
      <br>
      <br>
      <div class="row">
        <table border="2" class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Txn Date</th>
              <th scope="col">Txn ID</th>
              <th scope="col">Sender Old Balance</th>
              <th scope="col">Sender New Balance</th>
              <th scope="col">Receiver Account No</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of trans | paginate: { itemsPerPage: 5, currentPage: p };">
              <td> {{t.createdAt}}</td>
              <td> {{t.id}} </td>
              <td > {{t.senderOldBalance}}</td>
              <td>{{t.senderNewBalance}}</td>
              <td>{{t.receiver['accountNo']}}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center" id="pagination">
          <pagination-controls (pageChange)="p = $event" ></pagination-controls>
        </div>
      </div>
  </div>
  </div>
