
<p >login works!</p>


<hr>
<div class="container">
<form #customerLoginForm=ngForm (ngSubmit)="onFormSubmit()">


<div class="form-group">
<label>Username</label>
<input type="text" [(ngModel)]="user.username" class="form-control" #usernameField='ngModel' name="username" required [class.is-invalid]="usernameField.invalid">
<small class="text-danger" [class.d-none]="usernameField.valid || usernameField.untouched">username is required</small>
</div>

<div class="form-group">
<label>Password</label>
<input type="password" [(ngModel)]="user.password" class="form-control" #passwordField='ngModel' name="password" required [class.is-invalid]="passwordField.invalid">
<small class="text-danger" [class.d-none]="passwordField.valid || passwordField.untouched">password is required</small>
</div>


<button class="btn btn-primary" [disabled]='customerLoginForm.invalid'>Submit Data</button>
</form>
</div>