
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.navbar
{
  background-color: #4C8BAF;
  border: #4C8BAF;
  position: fixed;
  top: 0;
}
.container-fluid
{
  background-color: #4C8BAF;
}
.log{
  float:left;
}

