
<nav class="navbar fixed-top navbar-expand ">

  <a class="navbar-brand"  style="padding-bottom: 30px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVJU8LQlBJ_EjexDL5Mf5Kz6UgfVCbWNbQpFg1GrkEiYRJRcsT"
         alt="Logo"
         style="width:55px;height: 40px;">
  </a>
  <div>
  <ul class="navbar-nav " routerLinkActive="active">
    <li class="nav-item">
      <a class="nav-link text-white h5" routerLink="/customer_home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  text-white h5" routerLink='/account_details'>Account Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white h5" routerLink="/generate_statement">Generate Statement</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white h5" routerLink="/money_transfer">Money Transfer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white h5" routerLink="/request_account">Request new Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white h5" routerLink="/edit_profile">Edit Profile</a>
    </li>
    <li class="nav-item" style="padding-top: 20px">
      <button class="nav-link btn btn-outline-white" (click)="logout()" >Logout</button>
    </li>
  </ul>
    </div>
</nav>
<router-outlet></router-outlet>
