<p>register works!</p>
<h2>Registration Page</h2>
<br>
<br>

<div class="container">
<form #customerLoginForm=ngForm (ngSubmit)="onFormSubmit()">

    <div class="form-row">
        <div class="form-group col-md-4">
            <input type="text" [(ngModel)]="newUser.firstname" class="form-control" #firstnameField='ngModel' placeholder="firstname" name="firstname" required [class.is-invalid]="firstnameField.invalid">
            <small class="text-danger" [class.d-none]="firstnameField.valid || firstnameField.untouched"><b>firstname</b> is required</small>         
        </div>
        &nbsp;&nbsp;
        <div class="form-group  col-md-4">
            <input type="text" [(ngModel)]="newUser.lastname" class="form-control" #lastnameField='ngModel' name="lastname" placeholder="lastname"  required [class.is-invalid]="lastnameField.invalid">
            <small class="text-danger" [class.d-none]="lastnameField.valid || lastnameField.untouched"><b>lastname</b> is required</small>
        </div>
    </div>
    
    <div class="form-row">
            <div class="form-group col-md-8">
                <input type="email" [(ngModel)]="newUser.email" class="form-control" #emailField='ngModel' placeholder="email" name="email" required [class.is-invalid]="emailField.invalid">
                <small class="text-danger" [class.d-none]="emailField.valid || emailField.untouched"><b>email</b> is required</small>         
            </div>
    </div> 
    
    <div class="form-row">
            <div class="form-group col-md-4">
                <input type="number" [(ngModel)]="newUser.phone1" class="form-control" #phone1Field='ngModel' placeholder="phone number" name="phone1" required [class.is-invalid]="phone1Field.invalid">
                <small class="text-danger" [class.d-none]="phone1Field.valid || phone1Fielduntouched"><b>phone number</b> is required</small>         
            </div>
            &nbsp;&nbsp;
            <div class="form-group col-md-4">
                    <input type="number" [(ngModel)]="newUser.phone2" class="form-control" #phone2Field='ngModel' placeholder="alternative phone number" name="phone2" [class.is-invalid]="phone2Field.invalid">        
            </div>
    </div> 

    <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" [(ngModel)]="newUser.username" class="form-control" #newUsernameField='ngModel' placeholder="username" name="username" required [class.is-invalid]="newUsernameField.invalid">
                <small class="text-danger" [class.d-none]="newUsernameField.valid || newUsernameField.untouched"><b>username</b> is required</small>         
            </div>
            &nbsp;&nbsp;
            <div class="form-group col-md-4">
                    <input type="password" [(ngModel)]="newUser.password" class="form-control" #newPasswordField='ngModel' placeholder="password" name="password" [class.is-invalid]="newPasswordField.invalid">        
                    <small class="text-danger" [class.d-none]="newPasswordField.valid || newPasswordField.untouched"><b>password</b> is required</small>
            </div>
    </div> 

<button class="btn btn-primary" [disabled]='customerLoginForm.invalid'>Submit Data</button>
</form> 
</div>
<!-- firstname   lastname
email   phone no.
username password 
submit -->

