<div class="container">
  <h3 style="color: #4C8BAF">Change Password Here</h3>
  <div class="mat-card">
    <br>
    <br>
      <div class="container">
        <form [formGroup]="changePass">
          <div class="row">
          <div class="form-group col-6">
            <label>Enter Username:</label>
            <br>
            <input type="text" formControlName="username"
                   [class.is-invalid]="changePass.get('username').invalid||changePass.get('username').untouched"
                   class="form-control" style="width: 100%;">
            <mat-error *ngIf="changePass.get('username').invalid">
              Enter Username
            </mat-error>
          </div>
          <div class="col-3" style="padding-top: 4px">
            <br>
            <button (click)="changePassword()" class="btn btn-primary" style="width: 100%;"  [disabled]="changePass.invalid" >CHANGE</button>
          </div>
          </div>
          <h4 id="error" style="display: none">{{message}}</h4>
          <br>
        </form>
        <div>
          <button class="btn btn-primary" (click)="backToLogin()">Back To Login</button>
        </div>
        <br>
      </div>
  </div>

</div>
