<app-navbar-demo></app-navbar-demo>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transactions</title>
</head>
<body>
<div> 
    <app-navbar-demo></app-navbar-demo> 
    <br>
    <h2>Transactions</h2>
    <div class="padding1">
    <table id="transaction">
            <th *ngFor="let item of header" >
                <tr>{{item}}</tr>
            </th>
    <tr *ngFor="let item of value | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
        <td>{{item.date}}</td>
        <td>{{item.referencechequenumber}}</td>
        <td>{{item.debit}}</td>
        <td>{{item.credit}}</td>
        <td>{{item.balance}}</td>
    </tr>
    </table>
    <div class="text-center" id="pagination">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
    </div>
   </div> 
</div>      
</body>
</html>
