#summary {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}
#summary td, #customers th {
border: 1px solid #ddd;
padding: 8px;
text-align: center
}
#summary tr:nth-child(even){background-color: #f2f2f2; text-align: center}
#summary tr:hover {background-color: #ddd;}
#summary th {
padding-top: 12px;
padding-bottom: 12px;
background-color: rgb(76, 139, 175);
color: white;
text-align: center
}