<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>account summary</title>
</head> -->
<body>
  <div class="container">

 
    <app-navbar-demo></app-navbar-demo>
    
    <div class="padding1">
    <h2>Account Details</h2>
    <table id="summary" >
    <thead>
        <tr>
            <th>Account No</th>
            <th>Account Type</th>
            <th>Branch</th>
            <th>Balance</th>
            <th>Transaction</th>
        </tr>
    </thead>
    <tr *ngFor="let item of _detail; let i=index; ">
        <td>{{item.accountNo}}</td>
        <td>{{item.accountType}}</td>
        <td>{{item.branch.branchName}}</td>
        <td>
            <div style="visibility: hidden" id="txt{{i}}" >
                {{item.balance}}
            </div>
            <div style="visibility: visible">
                    <button type="button" id="btn{{i}}" class="btn btn-primary" name="balanceButton" (click)=viewBalance(i)>click here</button>
            </div>
        </td>
        <td>
            <div style="visibility: hidden">hello</div>
            <button type="button" class="btn btn-primary" (click)=showtransaction(item) >click here</button>
        </td>
    </tr>
    </table>
    </div>
</div>
</body>
<!-- </html> -->
